
:root {
    --primary-color: #aaddaa;
    --secondary-color: #338833;
    --tertiary-color: #67aa65;
}


body {
    font-family: "Times New Roman", Times, serif;

}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}


a {
    margin: 10px;
    color: var(--secondary-color);
}

li > ul > li {
    color: var(--tertiary-color);
}

ul > li > ul {
    padding: 0;
    font-size: 12px;
}

.heading {
    background: var(--secondary-color);
}

h2, h3 {
    padding-left: 10px;
    line-height: 48px;
}

.subtitle {
    background: var(--tertiary-color);
}

body {
    background: var(--primary-color);
}

h2, h3 {
    color: var(--primary-color);
}

th {
    background: var(--tertiary-color);
}

td {
    padding: 0 20px 5px 20px;
    border-bottom: 1px solid var(--tertiary-color)
}

.styledPara {
    border-bottom: 1px solid var(--tertiary-color);
    padding-bottom: 10px;
}